.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: rgb(87, 87, 87);
  font-style: normal;
}

.quill > .ql-container > .ql-editor.ql-blank {
  font-size: 16px;
}

.quill > .ql-container > .ql-editor > p {
  font-size: 16px;
}

.quill > .ql-toolbar.ql-snow {
  border: 1px solid rgb(80, 80, 80);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.quill > .ql-container.ql-snow {
  border: 1px solid rgb(80, 80, 80);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* For WebKit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Radius of the scrollbar thumb */
}

/* For Firefox */
/* Note: Firefox supports scrollbar styling using the `-moz` prefix */
/* You can adjust the colors and dimensions based on your preferences */
/* However, keep in mind that this may not work in all versions of Firefox */
/* and may require additional vendor prefixes for better compatibility */

/* Customize the track */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
  height: 8px; /* Height of the scrollbar */
}

/* Customize the thumb */
body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
